/**
 *              _                  _     
 *     /\      | |                (_)    
 *    /  \   __| | ___ _   _ _ __  _ ___ 
 *   / /\ \ / _` |/ _ \ | | | '_ \| / __|
 *  / ____ \ (_| |  __/ |_| | | | | \__ \
 * /_/    \_\__,_|\___|\__,_|_| |_|_|___/
 *                                       
 * 
 * JavaScript/Node.js library of Adeunis codecs v{{version}}
 * Supported products: {{product}}
 * 
 * This source code is provided "as-is" and with no warranties. Adeunis is not responsible for its use.
 * 
 */
